$min_width: 930px;
.container {
  max-width: 1095px;
  min-width: $min_width;
  margin: 0 auto;
}

.banner {
  overflow: hidden;
  min-width: $min_width;
  margin-top: -1px;
  height: 360px;
  width: 100%;
  position: relative;
  background: center top no-repeat;
  -webkit-transition: height .6s, background, .6s;
  transition: height .6s, background, .6s;

  img {
    position: absolute;
    left: 50%;
    width: 1920px;
    margin-left: -960px;
  }
}
.card {
  font-size: 13px;
  height: 300px;
}
